/* ========================================================================
                     Google Fonts Links
========================================================================  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anta&family=Protest+Riot&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tac+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tac+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tac+One&display=swap');

:root {
    --light_gray: #eceef3;
    --secondary_gray: #f4f6fa;
    --secondary: #211951;
    --light_pink: #edd9f2;
    --light_blue: #7958fc;
    --white-rgb: 232, 234, 241;
    --light-yellow: #f7d9ab;
    --light-sky: #c5f0fd;
    --brand--cod-gray-cloud: #f7f7f8;
    --color1: #fff;
    --color2: #181818;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
nav{
  background: var(--light_gray);
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 15px 0;
  cursor: pointer;
  
}
nav ul li a{
    color: var(--color2);
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
 
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: var(--light_blue);
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: var(--color2);
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
  font-family: "Fjalla One", sans-serif;
}
nav ul li a{
    color: var(--color2);
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
  font-family: "Anta", sans-serif;
}
nav ul li:hover a{
  color: var(--light_blue);
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
    
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px var(--light_blue),
                inset 0 0 10px var(--light_blue);
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}
/* ========================================================================
                     Cursor css start here
========================================================================  */

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; 
}
/* ========================================================================
                     intro css start here
========================================================================  */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    padding: 20px;
  }
  
  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .introduction span {
    font-size: 1.4vw;
    color: var(--light_blue);
    text-align: center;
  }
  
  .introduction h3 {
    font-size: 7vw;
    text-align: center;
    font-family: "Anta", sans-serif;
    width: 80vw;
    margin-top: 20px;
  }
  
  .introduction p {
    font-size: 1.5vw;
    width: 50vw;
    margin-top: 20px;
    text-align: center;
    color: rgb(75, 74, 74);
  }
  
  .intro .button {
    padding: 15px 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    z-index: 1;
    margin-top: 15px;
    cursor: pointer;
  }
  .intro .button a{
    color: white;
    text-decoration: none;
  }
  
  .intro .button::after,
  .intro .button::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all 0.4s;
  }
  
  .intro .button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
  }
  
  .intro .button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .intro .button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .intro .button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .intro .button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
  
  span #wave {
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
    animation: wave 0.5s infinite;
    transform-origin: 70% 70%;
  }
  
  @keyframes wave {
    0%,
    100% {
      transform: rotate(4deg);
    }
  
    50% {
      transform: rotate(-4deg);
    }
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .introduction span {
      font-size: 5vw;
    }
  
    .introduction h3 {
      font-size: 12vw;
      width: 90vw;
    }
  
    .introduction p {
      font-size: 6vw;
      width: 90%;
    }
  
    .intro .button {
      margin-top: 35px;
      font-size: 5vw;
      /* Adjust button font size for better visibility */
      padding: 10px 15px;
      /* Adjust button padding */
    }
  }
  
  /* Tablet responsiveness */
  @media (min-width: 700px) and (max-width: 1023px) {
    .introduction span {
      font-size: 3.5vw;
    }
  
    .introduction h3 {
      font-size: 8vw;
      width: 95vw;
    }
  
    .introduction p {
      font-size: 4vw;
      width: 90%;
    }
  
    .intro .button {
      margin-top: 35px;
      font-size: 3.5vw;
      /* Adjust button font size for better visibility */
      padding: 12px 18px;
      /* Adjust button padding */
    }
  }
  
  /* Large screens responsiveness */
  @media (min-width: 1024px) {
    .introduction span {
      font-size: 1.4vw;
    }
  
    .introduction h3 {
      font-size: 3vw;
      /* Adjusted for better readability */
      width: 80vw;
    }
  
    .introduction p {
      font-size: 1.5vw;
      width: 50vw;
    }
  
    .intro .button {
      font-size: 1.5vw;
      /* Adjust button font size for consistency */
      padding: 15px 20px;
    }
  }
  
/* ========================================================================
                     Moving Text css start here
========================================================================  */
.page2 {
    width: 100%;
    min-height: 25vh;
    background-color: black;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .moving-text {
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .con {
    display: inline-block;
    white-space: nowrap;
    animation: move 10s linear infinite;
  }
  
  .moving-text h1 {
    font-size: 9vw;
    display: inline-block;
    white-space: nowrap;
    color: var(--light_gray);
  }
  
  .moving-text::-webkit-scrollbar {
    display: none;
  }
  
  @keyframes move {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  #gola {
    margin: 1vw 2vw;
    background-color: var(--light_blue);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .page2 {
      width: 100%;
      min-height: 20vh;
    }
  
    .moving-text h1 {
      font-size: 12vw;
    }
  
    #gola {
      width: 30px;
      height: 30px;
    }
  }
  
  /* Tablet responsiveness */
  @media (min-width: 769px) and (max-width: 1023px) {
    .page2 {
      width: 100%;
      min-height: 25vh;
    }
  
    .moving-text h1 {
      font-size: 10vw;
    }
  
    #gola {
      width: 40px;
      height: 40px;
    }
  }
  
  /* Laptop and large screens responsiveness */
  @media (min-width: 1024px) {
    .page2 {
      width: 100%;
      min-height: 30vh;
    }
  
    .moving-text h1 {
      font-size: 9vw;
    }
  
    #gola {
      width: 50px;
      height: 50px;
    }
  }
/* ========================================================================
                     Service css start here
========================================================================  */

.page3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.heading1 span img {
  margin-top: 4px;
}

.heading1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 1vw;
}

.page3 img {
  margin-top: -100px;
  width: 300px;
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand--cod-gray-cloud);
  flex-direction: column;
  border-radius: 7%;
  width: 100%;
}

.work p {
  margin-top: 10px;
  color: var(--light_blue);
}

.work h6 {
  margin-top: 10px;
  font-size: 2vw;
  font-family: "Anta", sans-serif;
  text-decoration: green wavy underline;
  text-decoration-color: var(--light_pink);
  text-decoration-thickness: 0.3vw;
  color: rgb(75, 74, 74);
}

.page3 h3 {
  font-size: 4vw;
  font-family: "Anta", sans-serif;
  text-align: center;
  width: 80vw;
  margin-top: -50px;
}

.servicess {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-bottom: 150px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-info {
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -50px;
}

.project-title {
  font-weight: 500;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.lighter {
  font-size: 0.9em;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-weight: lighter;
  color: grey;
}

/* Card Styling */
.card {
  background-color: white;
  color: black;
  width: 300px;
  max-height: 330px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: transform 0.3s ease;
}

.card-img {
  position: relative;
  top: 70px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.card-img a,
.card-img img {
  height: 150px;
  width: 90%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card:hover {
  transform: translateY(-10px);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .work h6 {
    font-size: 5vw;
  }

  .page3 h3 {
    font-size: 7vw;
    width: 90vw;
  }

  .servicess {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .project-info {
    padding: 40px 20px;
    top: 0;
  }

  .card {
    width: 90%;
    margin-top: 50px;
  }
}

/* Tablet responsiveness */
@media (min-width: 769px) and (max-width: 1023px) {
  .work h6 {
    font-size: 4vw;
  }

  .page3 h3 {
    font-size: 6vw;
    width: 90vw;
  }

  .servicess {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .project-info {
    padding: 60px 30px;
    top: 0;
  }

  .card {
    width: 45%;
    margin-top: 20px;
  }
}

/* Laptop and large screens responsiveness */
@media (min-width: 1024px) {
  .work h6 {
    font-size: 2vw;
  }

  .page3 h3 {
    font-size: 4vw;
    width: 80vw;
  }

  .servicess {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .project-info {
    padding: 100px 40px;
    top: -50px;
  }

  .card {
    width: 280px;
  }
}
/* ========================================================================
                     Projects css start here
========================================================================  */

.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.project_select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.work-frame-head h1 {
  margin-top: 20px;
  font-size: 2vw;
  font-family: "Anta", sans-serif;
}

.work-frame-head p {
  margin-top: 10px;
  font-size: 1.2vw;
  text-align: center;
  width: 80%;
}

.card_1 {
  width: 300px;
  position: relative;
  background: rgb(238, 236, 236);
  padding: 20px;
  margin-top: 25px;
  transition: transform 0.2s ease-in-out;
}

.card_1:hover {
  transform: translateX(10px);
}

.card_1::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 10px;
  bottom: 15px;
  right: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(5deg);
  transition: all 0.1s ease-in;
}

.card_1::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 10px;
  bottom: 15px;
  left: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(-5deg);
  transition: all 0.1s ease-in;
}

.card_1:hover:before,
.card_1:hover:after {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}

.card_1:hover:before {
  transform: rotate(-8deg);
}

.card_1:hover:after {
  transform: rotate(8deg);
}

.card__img {
  position: relative;
  background: #a1a3a1;
  width: 100%;
  height: 175px;
}
.card__img  img{
  position: relative;
  background: #a1a3a1;
  width: 100%;
  height: 175px;
}

.card__span {
  cursor: pointer;
  font-size: 11px;
  position: absolute;
  background-color: white;
  top: 10px;
  left: 10px;
  padding: 3px 7px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in;
  user-select: none;
}

.card__span:hover {
  transform: translateX(5px);
}

.card-int {
  padding: 20px 0 0 0;
}

.card-int__title {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.excerpt {
  font-size: 14px;
}

.button-icon {
  display: flex;
  border: 3px #0b0a0a solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin-top: 20px;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 180px;
  height: 20px;
}

.button-icon:hover {
  border-color: black;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 180px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: white;
  color: black;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}

/* Responsive Styles */

@media (max-width: 1280px) {
  .work-frame-head h1 {
    font-size: 3vw;
  }

  .work-frame-head p {
    font-size: 1.5vw;
    width: 90%;
  }
  .project_select {
    flex-direction: row;
  }
  .card_1 {
    width: 23%;
  }
}

@media (max-width: 992px) {
  .work-frame-head h1 {
    font-size: 4vw;
  }

  .work-frame-head p {
    font-size: 2vw;
    width: 95%;
  }

  .project_select {
    gap: 20px;
  }

  .card_1 {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .work-frame-head h1 {
    font-size: 5vw;
  }

  .work-frame-head p {
    font-size: 2.5vw;
    width: 100%;
  }

  .project_select {
    flex-direction: row;
  }

  .card_1 {
    width: 45%;
  }

  .card__img {
    height: 150px;
  }
}

@media (max-width: 576px) {
  .work-frame-head h1 {
    font-size: 6vw;
  }

  .work-frame-head p {
    font-size: 3vw;
    width: 100%;
  }

  .card_1 {
    width: 100%;
  }

  .card__img {
    height: 125px;
  }
}
